@charset "UTF-8";

.formtable {
	width : 400px;
	border: 1px solid blue;
	margin : 50px;
	padding : 20px;
}

.label {
	width : 100px;
	text-align: right;
	vertical-align : top;
}

.control {
	margin-left : 20px;
}

input[type=text] {
	width : 200px;
	border-width : 1px;
	padding-top : 2px;
	padding-bottom : 2px;
}

input[type=submit] {
	display : block;
	width : 50%;
	margin : auto;
}

input[type=submit]:hover {
	background-color : #45a049;
}

.error {
	font-size : small;
	color : red;
	margin-left : 10px;
}